main {
    padding-left: 20px;
    padding-right: 20px;
}

.card-image-top{
    width: 18rem;
    height: 15rem;
    
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

a.fav-button {
    height:3rem; 
    width: 3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.anchor-title:link {
    color: black;
}

.item-name{
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
}