{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card border-0 bg-light text-dark m-2 text-center">     
    <img src="{{ user.profile.image.url }}" class="card-img rounded-circle border mx-auto d-block" style="height: 15rem; width: 15rem;" alt="">
    <h1 class="card-title">{{ user.username }}</h1>
    <p class="card-text">{{ user.email }}</p>
</div>
<div class="containter">
    <div class="row">
    </div>
</div>

<div class="container mt-3">
    <h5>Favorites:</h5> 
        <div class="row">
        {% for favorite in favorites %}
            <div class="card sm-6 m-2 p-2" style="width: 18rem;">
                <img src="{{ favorite.images.url }}" class="card-img-top rounded" style="height: 10rem;" alt="...">
                <div class="card-body pt-2 p-0">
                    <h5 class="card-title d-inline-block text-truncate" style="max-width: 17rem;">{{ favorite.name }}</h5>
                    <div class="container d-flex justify-content-between p-0">
                        <div class="col">
                            <p class="card-text">Rating: {{ favorite.rating }}</p>
                        </div>
                        <div class="col d-flex justify-content-end">
                            {% if favorite.rating is None or favorite.rating == 0.0 %}
                                <a href="{% url 'item-details' favorite.slug %}" class="btn btn-success btn-sm stretched-link" title="{{ favorite.name }}">Review Now</a>
                            {% else %}
                                <a href="{% url 'item-details' favorite.slug %}" class="card-link link-dark stretched-link" title="{{ favorite.name }}">View Reviews</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
</div>

<div class="container mt-3">
    <h5>Reviewed: </h5>
    {% if reviews.count == 0 %}
        <h3>No Reviewed</h3>
    {% else %}
        <div class="row">
            {% for review in reviews %}
                    <div class="card border m-2" style="width: 20rem;">
                        <div class="row">
                            <div class="col-6 m-2 pt-3 d-inline-block align-items-center justify-content-center text-truncate">
                                <img src="{{ review.item_reviewed.images.url }}" class="card-img-top rounded" style="height: 5rem; width: 8rem;" alt="">
                                <h5><a class="link-dark link-underline-opacity-0 stretched-link text-truncate" href="{% url 'item-details' review.item_reviewed.slug %}" style="max-width: 7rem;" title="{{ review.item_reviewed.name }}">
                                    {{ review.item_reviewed.name }}
                                </a></h5>
                            </div>
                            <div class="col m-2 pt-2 d-flex flex-column">
                                <h6 class="border-bottom">Rating: {{ review.score }}</h6>
                                <small>Cosmetics: {{ review.r_cosmetics }}</small>
                                <small>Sound: {{ review.r_sound }}</small>
                                <small>Playability: {{ review.r_playability }}</small>
                                <small>Build Quality: {{ review.r_build_quality }}</small>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    {% endif %}
</div>


{% endblock %}