{% extends "main/base.html" %}
{% block content %}

<div class="card border-0 bg-light text-dark m-2 text-center">     
    <img src="{{ user.profile.image.url }}" class="card-img rounded-circle border mx-auto d-block" style="height: 15rem; width: 15rem;" alt="">
    <h1 class="card-title">{{ user.username }}</h1>
    <p class="card-text">{{ user.email }}</p>
</div>

<div class="container">
    <div class="py-3 d-flex justify-content-between">
        <h3>Added Items</h3>
        <a href="{% url 'item-create' %}" class="btn btn-dark">+</a>
    </div>
    {% for item in items_added %}
        <div class="row border rounded mb-2 p-2">
            <div class="col">
                <h5>{{ item.name }}</h5>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <a href="{% url 'item-update' item.slug %}" class="btn btn-outline-dark mx-2">Update</a>
                <a href="{% url 'item-delete' item.slug %}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    {% endfor %}
    <div class="row m-2 d-grid justify-content-end align-items-center">
        <ul class="pagination pagination-color-dark">
            {% if items_added.has_previous %}
                <li class="page-item">
                    <a class="page-link text-dark" href="?page={{ items_added.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link text-dark" href="?page={{ items_added.previous_page_number }}">{{ items_added.previous_page_number }}</a></li>
            {% endif %}
    
            <li class="page-item active"><a class="page-link" href="#">{{ items_added.number }}</a></li>
    
            {% if items_added.has_next %}
                <li class="page-item"><a class="page-link text-dark" href="?page={{ items_added.next_page_number }}">{{ items_added.next_page_number }}</a></li>
                <li class="page-item">
                    <a class="page-link text-dark" href="?page={{ items_added.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>



{% endblock %}