{% extends "main/base.html" %}
{% block content %}

<h1>{{ title }}</h1>
<div class="row m-2">

    {% for item in items %}
    <div class="card sm-6 m-2 p-2" style="width: 18rem;">
        <img src="{{ item.images.url }}" class="card-img-top rounded" style="height: 10rem;" alt="...">
        <div class="card-body pt-2 p-0">
            <h5 class="card-title d-inline-block text-truncate" style="max-width: 17rem;">{{ item.name }}</h5>
            <div class="container d-flex justify-content-between p-0">
                <div class="col">
                    <p class="card-text">Rating: {{ item.rating }}</p>
                </div>
                <div class="col d-flex justify-content-end">
                    {% if item.rating is None or item.rating == 0.0 %}
                        <a href="{% url 'item-details' item.slug %}" class="btn btn-success btn-sm stretched-link" title="{{ item.name }}">Review Now</a>
                    {% else %}
                        <a href="{% url 'item-details' item.slug %}" class="card-link link-dark stretched-link" title="{{ item.name }}">View Reviews</a>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
    {% endfor %}

</div>

<div class="row m-2 d-grid justify-content-end align-items-center">
    <ul class="pagination pagination-color-dark">
        {% if items.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link text-dark" href="?page={{ items.previous_page_number }}">{{ items.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item active"><a class="page-link" href="#">{{ items.number }}</a></li>

        {% if items.has_next %}
            <li class="page-item"><a class="page-link text-dark" href="?page={{ items.next_page_number }}">{{ items.next_page_number }}</a></li>
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ items.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>


{% endblock %}